<div class="css-hero css-hero-derechos-digitales">

    <h1 class="h3 mb-1">
        🗽 Derechos digitales
    </h1>

    <p class="lead mb-0">Tus derechos no han desaparecido, es sólo que no los conoces.</p>

</div>
