<div class="css-hero css-hero-home">

    <p class="h3 mb-1">
        💻 Vuelve a tomar el control
    </p>

    <p class="lead mb-4">Los gigantes tecnológicos controlan nuestras vidas. Aprende a defenderte.</p>

    <p class="small mb-0">
        Queremos conseguir un Internet más libre, más seguro y más privado para todos, fuera del
        control de empresas y gobiernos. Fomentamos el uso de tecnología respetuosa con tus
        derechos y desarrollada poniendo al usuario en el centro. Además, en <em>Secretos del software</em>
        enseñamos a usuarios como tú a <b>programar y crear software</b>. ¿Quieres <a href="/acerca-de">saber más</a>?
    </p>

</div>
