{{ define "main" }}

    <div class="css-hero css-hero-acerca-de">

        <h1 class="h3 mb-1">
            ✨ Acerca de
        </h1>

        <p class="lead mb-0">Misión, visión y valores de Secretos del software</p>

    </div>

    <main class="css-content-text">
        {{ .Content }}
    </main>

{{ end }}
