<!doctype html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {{ if .IsHome }}
            <title>{{ .Site.Title }}</title>
            {{ with .Site.Params.description }}
                <meta name="description" content="{{ . }}">
            {{ end }}
        {{ else }}
            <title>{{ .Title }} | {{ .Site.Title }}</title>
            {{ with .Description }}
                <meta name="description" content="{{ . }}">
            {{ end }}
        {{ end }}

        {{ partial "head.html" . }}

    </head>
    <body>

        <header class="container css-site-header">
            <a href="/" title="Secretos del software">
                <img src="/assets/logo.png" class="img-fluid" alt="Logo de Secretos del software" />
            </a>
        </header>

        <div class="container css-site-content">
            <div class="css-site-content-inner">

                {{ partial "navbar.html" . }}

                <div class="css-content-subcontainer">
                    {{ block "main" . }}{{ end }}
                </div>

                <footer class="bg-dark text-secondary css-site-footer">
                    <div class="css-site-footer-inner">
                        <p class="text-center small mb-0">
                            Creative Commons 4.0 BY-SA
                            | <a rel="nofollow" href="/acerca-de">Acerca de</a>
                            | <a rel="nofollow" href="https://foro.secretosdelsoftware.com/d/3-colaborar-con-secretos-del-software">Colaborar</a>
                            | <a rel="nofollow" href="https://foro.secretosdelsoftware.com/d/4-contacto">Contacto</a>
                        </p>
                    </div>
                </footer>

            </div>
        </div>

    </body>
</html>
