{{ define "main" }}

    {{ if eq .Params.slug "desarrollo" }}
        {{ partial "heros/desarrollo.html" . }}
    {{ else if eq .Params.slug "privacidad" }}
        {{ partial "heros/privacidad.html" . }}
    {{ else if eq .Params.slug "software-libre" }}
        {{ partial "heros/software-libre.html" . }}
    {{ else if eq .Params.slug "derechos-digitales" }}
        {{ partial "heros/derechos-digitales.html" . }}
    {{ end }}

    <div class="row">

        <main class="col-xs-12 col-md-8">
            {{ range .Pages.ByDate.Reverse }}
                {{ partial "summary.html" . }}
            {{ end }}
        </main>

        <aside class="col-xs-12 col-md-4">
            {{ partial "sidebar.html" . }}
        </aside>

    </div>

{{ end }}
