{{ define "main" }}

    {{ $customDateFormat := "2006-01-02" }}
    {{ with .Site.Params.customDateFormat }}
        {{ $customDateFormat = . }}
    {{ end }}

    <div class="row">

        <main class="col-xs-12 col-md-8">

            <header>

                <h1>{{ .Title | markdownify }}</h1>
                <ul class="list-inline text-muted small">
                    <li class="list-inline-item">
                        📅 {{ .PublishDate.Format $customDateFormat }}
                    </li>
                    {{ if gt .Lastmod .PublishDate }}
                        <li class="list-inline-item">✏ {{ .Lastmod.Format $customDateFormat }}</li>
                    {{ end }}
                    <li class="list-inline-item">🧾 {{ .WordCount }} palabras</li>
                    <li class="list-inline-item">⏱ {{ .ReadingTime }} minutos</li>
                </ul>

                {{ with .Description }}
                    <hr>
                    <p class="lead">{{ . }}</p>
                    <hr>
                {{ end }}

            </header>

            <main class="text-justify css-content-text">
                {{ .Content }}
            </main>

            <footer>

                {{ partial "author-box.html" . }}

                {{ with .Params.series }}
                    {{ range . }}
                        <a href="{{ "series/" | absURL}}{{ . | urlize }}">{{ . }}</a>
                    {{ end }}
                {{ end }}

            </footer>

        </main>

        <aside class="col-xs-12 col-md-4">

            {{ if and (.Params.tableOfContents) }}
                <div class="card border-dark mb-3">
                    <div class="card-header border-dark bg-dark text-white">
                        <strong>🗺 Índice de contenidos</strong>
                    </div>
                    <div class="card-body">
                        {{ .TableOfContents }}
                    </div>
                </div>
            {{ end }}

            {{ partial "sidebar.html" . }}

        </aside>

    </div>

{{ end }}
