.css-hero {

    margin: -.75rem -.75rem 1rem -.75rem;
    padding: 2rem;

    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 255);

    a {
        color: white;
        &:hover {
            color: black;
            text-shadow: white;
        }
    }

    @media (max-width: 575px) {
        margin-bottom: 1rem;
    }

}

.css-hero-home {
    background: #8f7d7d;
    background: linear-gradient(to bottom right, #859978, #3f6a74);
    border-bottom: 1px solid #444;
}

.css-hero-desarrollo {
    background: #1DC168;
    background: linear-gradient(to bottom right, #1dc167, #0491d3);
    border-bottom: 1px solid #444;
}

.css-hero-privacidad {
    background: #5c1aa8;
    background: linear-gradient(to bottom right, #269acf, #db07bf);
    border-bottom: 1px solid #444;
}

.css-hero-software-libre {
    background: #a86b1a;
    background: linear-gradient(to bottom right, #cfa826, #d32d04);
    border-bottom: 1px solid #444;
}

.css-hero-derechos-digitales {
    background: #1a53a8;
    background: linear-gradient(to bottom right, #2683cf, #1204d3);
    border-bottom: 1px solid #444;
}

.css-hero-noticias {
    background: #1a53a8;
    background: linear-gradient(to bottom right, #db1414, #e7b2b2);
    border-bottom: 1px solid #444;
}

.css-hero-blog {
    background: #1d8304;
    background: linear-gradient(to bottom right, #d3c71a, #045511);
    border-bottom: 1px solid #444;
}

.css-hero-articulos,
.css-hero-guias {
    background: #1a53a8;
    background: linear-gradient(to bottom right, #969696, #424242);
    border-bottom: 1px solid #444;
}

.css-hero-acerca-de {
    background: #777777;
    background: linear-gradient(to bottom right, #888888, #666666);
    border-bottom: 1px solid #444444;
}
