#TableOfContents {
    font-size: 0.8rem;
    margin: -.5rem;
}

#TableOfContents a {
    text-decoration: none;
}

#TableOfContents > ul {
    margin-bottom: 0;
}

#TableOfContents > ul > li {
    margin-bottom: .33rem;
}
