/*
 * Main stylesheet
 */

 /* Bootstrap & Corrections */

@import "bootstrap-custom";
@import "fonts/domine";

ul, ol {
    padding-left: .75rem;
}

/* Design & Layout */

body {
    background-color: #333;
    background: url('/assets/background.png') repeat;
}

a {
    color: steelblue;
    &:hover {
        color: black;
    }
}

@import "hero";

.css-site-footer-inner {
    padding: 1rem 0;
    margin: 0 1rem;
}

@media (max-width: 575px) {

    .css-site-content {
        background-color: white;
        padding: 0;
    }

    .css-content-subcontainer {
        margin-left: .75rem;
        margin-right: .75rem;
    }

    .css-site-footer {
        padding-left: .75rem;
        padding-right: .75rem;
    }

}

@media (min-width: 576px) {

    .css-site-content-inner {
        background-color: white;
        border-radius: .5rem;
        box-shadow: 0 0 2rem 1rem rgba(0, 0, 0, .1);
        margin-bottom: 1rem;
    }

    .css-navbar {
        border-top-left-radius: .4rem;
        border-top-right-radius: .4rem;
    }

    .css-content-subcontainer {
        padding-top: .75rem;
        padding-left: .75rem;
        padding-right: .75rem;
        margin-bottom: 0;
    }

    .css-site-footer {
        border-bottom-left-radius: .4rem;
        border-bottom-right-radius: .4rem;
    }

}

@media (min-width: 1200px) {

    .container {
        max-width: 960px;
    }

}

@media (min-width: 1400px) {

    .container {
        max-width: 960px;
    }

}

/* Design > Sidebar */

@import "_table-of-contents";

.card > .card-header.text-white a {
    color: white;
    &:hover {
        color: steelblue;
    }
}

.card-header a {
    text-decoration: none;
}

/* Design > Content */

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Domine';
    letter-spacing: -.025em;
    line-height: 1.1;
    > a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

.css-content-text {

    @media (min-width: 992px) {
        text-align: justify;
    }

    h1, h2, h3, h4, h5, h6,
    .h1, .h2, .h3, .h4, .h5, .h6 {
        text-align: left;
        margin-top: .75em;
        margin-bottom: .75em;
    }

}

/* Design > Footer */

.css-site-footer a {
    color: white;
    text-decoration: none;
    &:hover {
        color: steelblue;
    }
}
