{{ if .Params.authors }}
    {{ $count := (len .Params.authors) }}
    <div class="card border-dark mb-3">
        <div class="card-header border-dark bg-dark text-white">
            <strong>👾 Autores</strong>
        </div>
        <ul class="list-group list-group-flush">
            {{ $authors := .Site.Data.authors }}
            {{ range .Params.authors }}
                <li class="list-group-item css-author-box-short">
                    {{ if (index $authors .) }}
                        {{ $author := (index $authors .) }}
                        <div class="float-end">
                            <img class="rounded-3"
                                src="/assets/authors/{{ . }}-64.png"
                                alt="Fotografía de {{ index $author "name" }}" />
                        </div>
                        <p class="mb-0">
                            <strong>{{ index $author "name" }}</strong>
                        </p>
                        {{ if eq $count 1 }}
                            {{ with (index $author "longText") }}
                                <p class="mt-2 mb-0 small"><em>{{ . }}</em></p>
                            {{ end }}
                        {{ else }}
                            {{ with (index $author "shortText") }}
                                <p class="mt-2 mb-0 small"><em>{{ . }}</em></p>
                            {{ end }}
                        {{ end }}
                    {{ else }}
                        <div class="float-end">
                            <img src="/assets/authors/anonymous-64.png"
                                alt="Icono para un autor sin fotografía" />
                        </div>
                        <strong>{{ . }}</strong>
                    {{ end }}
                </li>
            {{ end }}
        </ul>
    </div>
{{ end }}
