<link rel="icon" href="/favicon.ico" sizes="any">
<link rel="icon" href="/icon.png" type="image/png">
<link rel="apple-touch-icon" href="/icon.png">

{{ $style := resources.Get "style.scss" | resources.ToCSS (dict "targetPath" "assets/style.css") | resources.Minify | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}">

{{ $script := resources.Get "main.js" | js.Build (dict "targetPath" "assets/main.js") | resources.Minify | resources.Fingerprint }}
<script src="{{ $script.Permalink }}"></script>

<link rel="manifest" href="/site.webmanifest">
<meta name="theme-color" content="#777777">

{{ template "_internal/opengraph.html" . }}
{{ template "_internal/twitter_cards.html" . }}
{{ template "_internal/schema.html" . }}
