<nav class="navbar navbar-expand-md navbar-dark bg-dark css-navbar">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Mostrar/ocultar navegación">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav ms-auto">
                {{ $currentPage := . }}
                {{ range .Site.Menus.Navbar }}
                    <li class="nav-item">
                        <a class="nav-link{{ if or ($currentPage.IsMenuCurrent "Navbar" .) ($currentPage.HasMenuCurrent "Navbar" .) }} active{{ end }}"
                            href="{{ .URL }}"
                            title="{{ .Title }}"
                            aria-current="page">
                            {{ .Name }}
                        </a>
                    </li>
                {{ end }}
                <li class="nav-item">
                    <a class="nav-link" href="https://foro.secretosdelsoftware.com" title="Foro de Secretos del software">
                        Foro
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
