<div class="card border-dark mb-3">
    <div class="card-header border-dark bg-dark text-white">
        <strong><a href="/noticias">📢 Noticias</a></strong>
    </div>
    <div class="list-group list-group-flush">
        {{ range first 5 (where .Site.RegularPages "Section" "noticias") }}
            <a href="{{ .Permalink }}" class="list-group-item list-group-item-action">
                ➡ {{ .Title | markdownify }}
            </a>
        {{ end }}
    </div>
</div>

<div class="card border-dark mb-3">
    <div class="card-header border-dark bg-dark text-white">
        <strong><a href="/articulos">📄 Artículos</a></strong>
    </div>
    <div class="list-group list-group-flush">
        {{ range first 5 (where .Site.RegularPages "Section" "articulos") }}
            <a href="{{ .Permalink }}" class="list-group-item list-group-item-action">
                ➡ {{ .Title | markdownify }}
            </a>
        {{ end }}
    </div>
</div>

<div class="card border-dark mb-3">
    <div class="card-header border-dark bg-dark text-white">
        <strong><a href="/guias">📖 Guías</a></strong>
    </div>
    <div class="list-group list-group-flush">
        {{ range first 5 (where .Site.RegularPages "Section" "guias") }}
            <a href="{{ .Permalink }}" class="list-group-item list-group-item-action">
                ➡ {{ .Title | markdownify }}
            </a>
        {{ end }}
    </div>
</div>

<div class="card border-dark mb-3">
    <div class="card-header border-dark bg-dark text-white">
        <strong><a href="/posts">🦆 Blog</a></strong>
    </div>
    <div class="list-group list-group-flush">
        {{ range first 5 (where .Site.RegularPages "Section" "posts") }}
            <a href="{{ .Permalink }}" class="list-group-item list-group-item-action">
                ➡ {{ .Title | markdownify }}
            </a>
        {{ end }}
    </div>
</div>
