{{ $customDateFormat := "2006-01-02" }}
{{ with .Site.Params.customDateFormat }}
    {{ $customDateFormat = . }}
{{ end }}

<article class="mb-4">
    <h2 class="h3">
        <a href="{{ .Permalink }}">
            {{ .Title | markdownify }}
        </a>
    </h2>
    <ul class="list-inline text-muted small mb-2">
        <li class="list-inline-item">
            📅 {{ .PublishDate.Format $customDateFormat }}
        </li>
        {{ if gt .Lastmod .PublishDate }}
            <li class="list-inline-item">✏ {{ .Lastmod.Format $customDateFormat }}</li>
        {{ end }}
        <li class="list-inline-item">{{ partial "single-meta-section.html" .Section }}</li>
    </ul>
    <p>
        {{ .Description }}
    </p>
</article>
