{{ define "main" }}

    {{ partial "heros/articulos.html" . }}

    <div class="row">

        <main class="col-xs-12 col-md-8">
            {{ range .Pages.ByDate.Reverse }}
                {{ partial "summary.html" . }}
            {{ end }}
        </main>

        <aside class="col-xs-12 col-md-4">
            {{ partial "sidebar.html" . }}
        </aside>

    </div>

{{ end }}
